body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 100%;
  margin: 0;
}

header {
  border: solid red;
  background-color: black;
  color: white;
  grid-area: 1;
}

main {
  /* border: solid red; */
  background-color: black;
  grid-area: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.img {
  width: 19%;
  padding-top: 19%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modal {
  z-index: 1;
  position: absolute;
  height: 500px;
  width: 1000px;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -500px;
  display: flex;
  background-color: black;
  border: solid white;
}

.img-modal {
  width: 50%;
  padding-top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.desc {
  width: 50%;
  height: 100%;
  margin: 10px;
}

.desc * {
  color: white;
}

.hidden {
  display: none !important;
}